<ion-header>
  <ion-navbar>
    <ion-title>BÁO GIÁ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    
  </ion-item>
  <ion-grid>
    <ion-row style="background-color: #6CA6CD">
      <ion-col col-6>Tên dịch vụ</ion-col>
      <ion-col col-6>Giá</ion-col>
    </ion-row>

    <ion-row *ngFor="let dv of data.order.orderValue.details">
      <ion-col col-6>{{dv.serviceName}}</ion-col>
      <ion-col col-6>{{dv.charge}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>Tổng tiền</ion-col>
      <ion-col col-6>{{data.order.orderValue.sum}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <button ion-button (click)="acceptOrders()" block>Chấp nhận</button>
      </ion-col>

      <ion-col col-4>
        <button ion-button (click)="editOrders()" style="background-color: #8f8d2d;" block>Sửa lịch hẹn</button>
      </ion-col>

      <ion-col col-4>
        <button ion-button (click)="cancelOrders()" style="background-color: #4e2424;" block>Hủy lịch hẹn</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br><br>
  <div *ngIf="isEdit==true">
    <h5>Nội dung cần sửa: </h5>
    <div style=" border: solid 1px #b3b1b1;
        border-radius: 5px;
        padding: 10px;
          margin-top: 10px;
          margin-bottom: 10px;">
      <textarea [(ngModel)]="note" [ngModelOptions]="{standalone: true}" placeholder="Ghi chú..." rows="4" style="width: 100%;  outline: none;    border: none;
          " maxlength="500" (ngModelChange)="txtMaxLengthCheck($event)"></textarea>
      <div style="padding-bottom: 5px">
        <small style="float:right; color:grey; margin-right: 5px">{{txtcounter}}<span>/500</span></small>
      </div>
    </div>
    <button ion-button style="float: right;" (click)="submit()">Đồng ý</button>
  </div>
</ion-content>