<ion-tabs>
  <ion-tab [root]="tabHomeRoot" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tabHistoryRoot" tabTitle="Lịch sử" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tabNotificationRoot" tabTitle="Thông báo" tabIcon="chatboxes"></ion-tab>
  <ion-tab [root]="tabContactRoot" tabTitle="Liên hệ" tabIcon="call"></ion-tab>
</ion-tabs>
