<ion-header>
  <ion-navbar>
    <ion-title>GIAO DỊCH GẦN ĐÂY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let data of orders; index as i">
      <!-- <ion-chip color="tertiary" style="float: right;" *ngIf="data.order.orderStatusCode==0">
        &ensp;&ensp;{{data.order.orderStatusName}}&ensp;&ensp;
      </ion-chip> -->
      <button ion-button
        style="background-color: white;color: black;border: 2px solid rgb(177, 63, 148); border-radius: 8px; float:right;"
        *ngIf="data.order.orderStatusCode==0">
        {{data.order.orderStatusName}}
      </button>
      <button ion-button
        style="background-color: white;color: black;border: 2px solid rgb(156, 192, 24); border-radius: 8px; float:right;"
        *ngIf="data.order.orderStatusCode==1">
        {{data.order.orderStatusName}}
      </button>
      <button ion-button
        style="background-color: white;color: black;border: 2px solid rgb(126, 15, 15); border-radius: 8px; float:right;"
        *ngIf="data.order.orderStatusCode==2">
        {{data.order.orderStatusName}}
      </button>
      <button ion-button
        style="background-color: white;color: black;border: 2px solid rgb(184, 150, 3); border-radius: 8px; float:right;"
        *ngIf="data.order.orderStatusCode==3">
        {{data.order.orderStatusName}}
      </button>
      <button ion-button
        style="background-color: white;color: black;border: 2px solid #4CAF50; border-radius: 8px; float:right;"
        *ngIf="data.order.orderStatusCode==4">
        {{data.order.orderStatusName}}
      </button>
      <button ion-button
        style="background-color: white;color: black;border: 2px solid rgb(13, 135, 165); border-radius: 8px; float:right;"
        *ngIf="data.order.orderStatusCode==5">
        {{data.order.orderStatusName}}
      </button>
      <!-- <ion-chip style="color: blue;" style="float: right;" *ngIf="data.order.orderStatusCode==1">
        &ensp;&ensp;{{data.order.orderStatusName}}&ensp;&ensp;
      </ion-chip>
      <ion-chip color="primary" outline="true" style="float: right;" *ngIf="data.order.orderStatusCode==2">
        &ensp;&ensp;{{data.order.orderStatusName}}&ensp;&ensp;
      </ion-chip>
      <ion-chip color="success" style="float: right;" *ngIf="data.order.orderStatusCode==3">
        &ensp;&ensp;{{data.order.orderStatusName}}&ensp;&ensp;
      </ion-chip>
      <ion-chip color="warning" style="float: right;" *ngIf="data.order.orderStatusCode==4">
        &ensp;&ensp;{{data.order.orderStatusName}}&ensp;&ensp;
      </ion-chip>
      <ion-chip color="danger" style="float: right;" *ngIf="data.order.orderStatusCode==5">
        &ensp;&ensp;{{data.order.orderStatusName}}&ensp;&ensp;
      </ion-chip> -->
      <br>
      <ion-grid>
        <ion-row>
          <ion-col col-3>Tên dịch vụ</ion-col>
          <ion-col col-9>
            <div *ngFor="let detail of data.order.orderValue.details">
              <h2 style="padding-left: 50px;">{{detail.serviceName}}</h2>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>Địa chỉ</ion-col>
          <ion-col col-9>
            <h2 style="padding-left: 50px; white-space: pre-line;">{{data.customerAddress}}</h2>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col col-3>Tên khách hàng</ion-col>
          <ion-col col-9>
            <h2 style="padding-left: 50px;">{{data.customerName}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>Số điện thoại</ion-col>
          <ion-col col-9>
            <h2 style="padding-left: 50px;">{{data.customerPhone}}</h2>
          </ion-col>
        </ion-row> -->

        <ion-row>
          <ion-col col-3>Thời gian</ion-col>
          <ion-col col-9>
            <h2 style="padding-left: 50px;">{{data.expectedTime}}</h2>
          </ion-col>
        </ion-row>

      </ion-grid>
      <button ion-button style="margin-left: 140px;" (click)="toDetail(i)">Chi tiết</button>
    </ion-item>
    <br><br>
  </ion-list>
</ion-content>