<ion-header>
  <ion-navbar>
    <ion-title>THÔNG TIN CÔNG TY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="https://www.techbams.com/wp-content/uploads/2019/01/company.jpg" alt="">
    <ion-item>
      <ion-label><strong>Tên Công ty:</strong> {{company.data.companyName}}</ion-label><br>
    </ion-item>
    <ion-item>
      <ion-label><strong>Hotline:</strong> {{company.data.hotline}}</ion-label><br>
    </ion-item>
    <ion-item>
      <ion-label><strong>Địa chỉ:</strong> {{company.data.companyAddress}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>