
<ion-header>
  <ion-navbar>
    <ion-title>HOME</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>DỊCH VỤ PCCC</h1>
  <ion-card class="card-margin">
    <ion-card-content>
			<ion-item class="book-cover" *ngFor="let service of services" (click)="goBookPage(service)">
				<ion-thumbnail item-left class="thumbnail">
					<img src="{{service.serviceImg}}">
        </ion-thumbnail>
        <h2>
					<strong>{{service.serviceName}}</strong>
				</h2>
				<h2 style="white-space: pre-line;">
					{{service.serviceDescription}}
        </h2>
        <p></p>
			</ion-item>
		</ion-card-content>
	</ion-card>

</ion-content>
