<ion-header>
  <ion-navbar>
    <ion-title>THÔNG BÁO</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let data of orders; index as i">
      <ion-title>Báo giá</ion-title>
      <br>
      <ion-grid >
        <ion-row>
          <ion-col col-3>Tên dịch vụ</ion-col>
          <ion-col col-9>
            <div *ngFor="let detail of data.order.orderValue.details">
              <h2 style="padding-left: 50px;">{{detail.serviceName}}</h2>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>Địa chỉ</ion-col>
          <ion-col col-9>
            <h2 style="padding-left: 50px; white-space: pre-line;">{{data.customerAddress}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>Tên khách hàng</ion-col>
          <ion-col col-9>
            <h2 style="padding-left: 50px;">{{data.customerName}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>Số điện thoại</ion-col>
          <ion-col col-9>
            <h2 style="padding-left: 50px;">{{data.customerPhone}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>Thời gian</ion-col>
          <ion-col col-9>
            <h2 style="padding-left: 50px;">{{data.expectedTime}}</h2>
          </ion-col>
        </ion-row>

      </ion-grid>
      <button ion-button style="margin-left: 140px;" (click)="toServicesPrice(i)">Chi tiết</button>
    </ion-item>
    <br><br>
  </ion-list>
</ion-content>