<ion-header>
  <ion-navbar>
    <ion-title>CHI TIẾT GIAO DỊCH</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-item>
      <ion-label style="color: blue;">Thông tin khách hàng</ion-label>
    </ion-item>
    <ion-row>
      <ion-col col-6>Tên khách hàng</ion-col>
      <ion-col col-6>{{data.customerName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Số điện thoại</ion-col>
      <ion-col col-6>{{data.customerPhone}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Địa chỉ</ion-col>
      <ion-col col-6>{{data.customerAddress}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-item>
      <ion-label style="color: blue;">Thông tin dịch vụ</ion-label>
    </ion-item>
    <ion-row>
      <ion-col col-6>Trạng thái</ion-col>
      <ion-col col-6>{{data.order.orderStatusName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Thời gian đặt lịch</ion-col>
      <ion-col col-6>{{data.expectedTime}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>Hình thức thanh toán</ion-col>
      <ion-col col-6>{{data.payment.paymentStatusName}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-item>
      <ion-label style="color: blue;">Chi tiết dịch vụ</ion-label>
    </ion-item>
    <ion-row>
      <ion-col col-6>Tên dịch vụ</ion-col>
      <ion-col col-6>Giá</ion-col>
    </ion-row>

    <ion-row *ngFor="let dv of data.order.orderValue.details">
      <ion-col col-6>{{dv.serviceName}}</ion-col>
      <ion-col col-6>{{dv.charge}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>Tổng tiền</ion-col>
      <ion-col col-6>{{data.order.orderValue.sum}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label style="color: blue;">Hình ảnh</ion-label>
  </ion-item>

  <ion-row>
    <ion-col col-3 *ngFor="let image of data.imgList">
      <img src="{{image}}" alt="">
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label style="color: blue;">Video</ion-label>
  </ion-item>

  <!-- <ion-row>
    <ion-col col-12 *ngFor="let image of data.videoList">
      <video src="{{video}}"></video>
    </ion-col>
  </ion-row> -->
  <ion-content overflow-scroll="true" *ngFor="let image of data.videoList">
    <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
      class="videoPlayer">
      <source src="{{video}}" type="video/mp4" />
    </video>
  </ion-content>
</ion-content>