<ion-header>
  <ion-navbar>
    <ion-title>Đặt lịch</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides [pager]="false">
    <ion-slide style="overflow-y: auto; display: block;">
      <ion-header>Thông tin dịch vụ</ion-header>
      <br><br><br>
      <ion-item>
        <ion-label>Chọn dịch vụ</ion-label>
        <ion-select multiple="true" cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="selectedService"
          (ionChange)="changeServices()">
          <ion-option *ngFor="let service of services" value={{service.serviceID}}>
            <h2>{{service.serviceName}}</h2>
          </ion-option>
        </ion-select>
      </ion-item>
      <p style="font-size: 13px;color: red; float: right;" *ngIf="serviceIsNULL==true">
        Chưa chọn dịch vụ
      </p>
      <!-- <h4>Dịch vụ đã chọn</h4> -->
      <!-- <ion-row>
        <ion-col col-5>
          <ion-label>Dịch vụ đã chọn:</ion-label>
        </ion-col>
        <ion-col col-7>
          <ion-label *ngFor="let selectedService of serviceProvider.selectedServiceList">
            {{selectedService.serviceName}}
          </ion-label>
        </ion-col>
      </ion-row> -->

      <ion-item>
        <ion-label>Chọn ngày:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="2019-01-01" max="2050-12-31" [(ngModel)]="datetime" (ionChange)="checkDateTime()">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Chọn thời gian:</ion-label>
        <ion-datetime displayFormat="hh:mm A" pickerFormat="HH:mm" [(ngModel)]="datetime" (ionChange)="checkDateTime()"></ion-datetime>
      </ion-item>
      <p style="font-size: 13px;color: red; float: right;" *ngIf="dateTimeErr==true">
        Thời gian không hợp lệ
      </p>

      <button ion-button (click)="nextStep2()" style="margin-top: 300px;" block>Tiếp</button>

    </ion-slide>

    <ion-slide style="overflow-y: auto; display: block;">
      <ion-header>Thông tin khách hàng</ion-header>
      <ion-item>
        <ion-label floating>Họ tên</ion-label>
        <ion-input name="name" [(ngModel)]="name" (ionChange)="checkName()" type="text">
        </ion-input>
      </ion-item>
      <p style="font-size: 13px;color: red; float: right;" *ngIf="nameErr==true">
        Tên không chứa số và kí tự đặc biệt
      </p>
      <p style="font-size: 13px;color: red; float: right;" *ngIf="nameIsNULL==true">
        Chưa có họ tên
      </p>

      <ion-item>
        <ion-label floating>Số điện thoại</ion-label>
        <ion-input name="phone" type="number" [(ngModel)]="phone" (ionChange)="checkPhone()" style="height: 53px; width: 294px; border-radius: 10px;">
        </ion-input>
      </ion-item>
      <p style="font-size: 13px;color: red; float: right;" *ngIf="phoneErr==true">
        Số điện thoại không đúng
      </p>
      <p style="font-size: 13px;color: red; float: right;" *ngIf="phoneIsNULL==true">
        Chưa có số điện thoại
      </p>

      <ion-item>
        <ion-label floating>Địa chỉ giao dịch</ion-label>
        <ion-input name="address" [(ngModel)]="address" (ionChange)="checkAddress()" type="text">
        </ion-input>
      </ion-item>
      <p style="font-size: 13px;color: red; float: right;" *ngIf="addressIsNULL==true">
        Chưa có địa chỉ
      </p>

      <div style=" border: solid 1px #b3b1b1;
        border-radius: 5px;
        padding: 10px;
          margin-top: 10px;
          margin-bottom: 10px;">
        <textarea [(ngModel)]="note" [ngModelOptions]="{standalone: true}" placeholder="Ghi chú..." rows="4" style="width: 100%;  outline: none;    border: none;
          " maxlength="500" (ngModelChange)="txtMaxLengthCheck($event)"></textarea>
        <div style="padding-bottom: 5px">
          <small style="float:right; color:grey; margin-right: 5px">{{txtcounter}}<span>/500</span></small>
        </div>
      </div>

      <ion-label>Hình ảnh</ion-label>
      <ion-row>
        <ion-col col-3 *ngFor="let image of imageResponse; let i=index">
          <img style="width: 30vw; height:30vw" src="{{fixDisplayURLFromFileURI(image)}}" alt="">
          <button (click)="delPic(image, i)" ion-button><ion-icon ios="md-close" md="md-close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <button ion-button type="submit" (click)="getImages()" style="border: 2px solid #4CAF50;" color="light" block
            icon-only>
            <ion-icon name="images" style="color: #CD950C"></ion-icon>
            Chọn ảnh
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button type="submit" (click)="getVideo()" style="border: 2px solid #4CAF50;" color="light" block
            icon-only>
            <ion-icon name="videocam" style="color: rgb(204, 53, 7)"></ion-icon>
            Chọn video
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <button ion-button type="submit" (click)="takePicture()" style="border: 2px solid #4CAF50;" color="light" block
            icon-only>
            <ion-icon name="images" style="color: #CD950C"></ion-icon>
            Chụp mới
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button type="submit" (click)="recordVideo()" style="border: 2px solid #4CAF50;" color="light" block
            icon-only>
            <ion-icon name="videocam" style="color: rgb(204, 53, 7)"></ion-icon>
            Quay mới
          </button>
        </ion-col>
      </ion-row>

      <div *ngIf="video!=''" style="background-color: white!important; margin-top:6px; padding-left:4%">
        <div style="background:transparent!important; position: relative !important">
              <button (click)="delVideo()" round ion-button style="position: absolute !important; top:0; right:5px;   z-index: 1;">
                  <ion-icon name="close"></ion-icon>
                </button>
              <ion-item style="background-color: white !important">
                <video style="background-color: white !important;width:100%; max-height:200px; border: solid 1px rgb(201, 199, 199); border-radius:15px" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
                  class="videoPlayer" [src]="fixDisplayURLFromFileURI(video)"></video>
              </ion-item>
        </div>        
      </div>

      <ion-row>
        <ion-col>
          <button ion-button style="background-color: #555555; color: white;" color="light" block>Quay lại</button>
        </ion-col>
        <ion-col>
          <button ion-button (click)="nextStep()" block>Tiếp</button>
        </ion-col>
      </ion-row>
      
    </ion-slide>

    <ion-slide style="overflow-y: auto; display: block;">
      <ion-header>Hình thức thanh toán</ion-header>
      <br><br><br>

      <ion-list radio-group [(ngModel)]="selectedRadio">
        <ion-item *ngFor="let payment of payments">
          <ion-label>{{payment.paymentStatusName}}</ion-label>
          <ion-radio [value]="payment.paymentType" (ionSelect)="changePayment()"></ion-radio>
        </ion-item>
      </ion-list>

      <button ion-button style="margin-top: 330px;" (click)="saveBook()" block>Đặt lịch</button>
    </ion-slide>
  </ion-slides>


</ion-content>